.playlist {
  background-color: rgba(0, 0, 0, .6);
  height: 60vh;
  position: relative;
  transition: height 300ms ease-in-out, opacity 300ms ease-in-out;
  width: 100%;
}

@media screen and (min-width: 780px) {
  .playlist {
    height: 70vh;
    width: 27.5%;
  }
}

.playlist--min {
  height: 4em;
  opacity: .5;
  overflow: hidden;
}
