.playlist-list {
  height: calc(60vh - 4.9em);
  list-style: none;
  margin: 0;
  overflow-y: auto;
  padding: 0;
  transform-origin: top;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.playlist--min .playlist-list {
  opacity: 0;
  transform: scaleY(0);
}

@media screen and (min-width: 780px) {
  .playlist-list {
    height: calc(70vh - 4.9em);
  }
}
