.chat-min-button {
  height: 2.5em;
  width: 2.5em;
  position: absolute;
  top: .5em;
  right: 0;
  cursor: pointer;
}

.chat-min-line {
  background: white;
  height: .25em;
  width: 1.5em;
  position: absolute;
  top: 1.25em;
  transition: transform 300ms ease-in-out;
}

.chat--min .chat-min-line:nth-child(2) {
  transform: rotateZ(90deg);
}
